In [1]:
import numpy as np
import pandas as pd
import astropy.units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord
import pytz

from astroplan import Observer, FixedTarget

#Plotting Airmass
%matplotlib inline
import matplotlib.pyplot as plt

from astroplan import time_grid_from_range

from astroplan.plots import plot_airmass

In [45]:
#reading a list of randomly selected galaxies from the UGC list
galaxy_table = pd.read_csv("randomUGC.csv")

In [4]:
#Observing from observatory location
het =  Observer(longitude = -104.014722 * u.deg,
        latitude = 30 * u.deg + 40 * u.arcmin + 53.2 * u.arcsec,
        elevation = 2026 * u.m,
        timezone = 'US/Central',
        name = "Hobby-Eberly Telescope"
        )

In [18]:
#setting up times to observe--August 15-30
current_time = het.timezone
observing_time1 = Time("2019-08-15 00:00:00")
midnight_het = het.midnight(observing_time1, which='nearest')

In [19]:
#twilight to twilight times for observing
astro_set = het.twilight_evening_astronomical(observing_time1, which='nearest')
astro_rise = het.twilight_morning_astronomical(observing_time1, which='next')
midnight_het = het.midnight(observing_time1, which='next')

In [20]:
#function that will return a bool from the galaxy_table, true if galaxy is visible
def istargetup(x):
    target = FixedTarget.from_name(galaxy_table["Name"][x])
    visible = het.target_is_up(midnight_het, target)
    return visible

#mask that can be applied to the galaxy_table to yield which galaxies will be visible
mask = []
for i in range(len(galaxy_table["Name"])):
    mask.append(istargetup(i))

In [21]:
#galaxies that will be visable on observing_time1, but we only need 10 of these so I will pick the first 10
galaxy_table[mask]

        Name
0   UGC10492
2     UGC439
3   UGC12479
4     UGC965
5     UGC991
7    UGC1052
9    UGC1092
11   UGC1727
12   UGC2343
13   UGC1713
14     UGC72
17   UGC2600
18  UGC12174
20  UGC12637
21  UGC12348
22  UGC11628
24  UGC10081
27   UGC2292
28   UGC2147
29  UGC12220
31  UGC12225
32   UGC2158
33   UGC2152
34   UGC9960
37  UGC10268
38  UGC12349
39    UGC382
42  UGC10184
46   UGC9863

In [40]:
#Getting the RA and DEC of the observable objects using AstroPlan

def targetra(x):
    target = FixedTarget.from_name(galaxy_table["Name"][x])
    result = target.ra
    return result

def targetdec(x):
    target = FixedTarget.from_name(galaxy_table["Name"][x])
    result = target.dec
    return result

ra = []
dec = []

for i in range(len(galaxy_table["Name"])):
    ra.append(targetra(i).hms)
    dec.append(targetdec(i).dms)

In [47]:
#Adding the RA and DEC to my pandas table
galaxy_table["RA(hms)"] = ra
galaxy_table["DEC(dms)"] = dec

# Table of Observable Galaxies on August 15th - August30th

In [50]:
galaxy_table[mask]

,Name,RA(hms),DEC(dms)
0,UGC10492,"(16.0, 39.0, 24.38400000001394)","(-2.0, -25.0, -50.5199999999995)"
2,UGC439,"(0.0, 41.0, 27.38400000000098)","(-1.0, -42.0, -33.1200000000004)"
3,UGC12479,"(23.0, 17.0, 28.15200000001454)","(-1.0, -35.0, -35.87999999999994)"
4,UGC965,"(1.0, 24.0, 39.048000000001295)","(-1.0, -34.0, -23.15999999999974)"
5,UGC991,"(1.0, 25.0, 27.04800000000091)","(-1.0, -32.0, -24.719999999999942)"
7,UGC1052,"(1.0, 28.0, 9.144000000001284)","(-1.0, -17.0, -28.679999999999666)"
9,UGC1092,"(1.0, 31.0, 39.28800000000052)","(-0.0, -55.0, -34.68000000000018)"
11,UGC1727,"(2.0, 14.0, 33.19200000000183)","(-0.0, -46.0, -2.279999999999802)"
12,UGC2343,"(2.0, 51.0, 39.07200000000188)","(-0.0, -44.0, -42.00000000000017)"
13,UGC1713,"(2.0, 13.0, 33.216000000000605)","(-0.0, -44.0, -0.2400000000002933)"
14,UGC72,"(0.0, 8.0, 39.720000000000155)","(-0.0, -43.0, -18.119999999999976)"
17,UGC2600,"(3.0, 13.0, 45.48000000000261)","(-0.0, -12.0, -50.760000000000005)"
18,UGC12174,"(22.0, 44.0, 27.864000000022884)","(-0.0, -7.0, -13.439999999999959)"
20,UGC12637,"(23.0, 30.0, 27.768000000018844)","(0.0, 4.0, 33.23999999999997)"
21,UGC12348,"(23.0, 5.0, 15.74400000002214)","(0.0, 11.0, 12.480000000000011)"
22,UGC11628,"(20.0, 47.0, 21.576000000016222)","(0.0, 19.0, 4.440000000000097)"
24,UGC10081,"(15.0, 54.0, 21.192000000009017)","(0.0, 31.0, 13.079999999999998)"
27,UGC2292,"(2.0, 48.0, 52.44000000000227)","(0.0, 59.0, 26.159999999999997)"
28,UGC2147,"(2.0, 39.0, 22.488000000001307)","(1.0, 5.0, 53.160000000000274)"
29,UGC12220,"(22.0, 52.0, 27.432000000024743)","(1.0, 5.0, 57.4799999999998)"
31,UGC12225,"(22.0, 52.0, 51.40800000001235)","(1.0, 12.0, 57.95999999999985)"
32,UGC2158,"(2.0, 40.0, 4.800000000002029)","(1.0, 30.0, 51.12000000000002)"
33,UGC2152,"(2.0, 39.0, 40.82400000000163)","(1.0, 32.0, 52.44000000000014)"
34,UGC9960,"(15.0, 40.0, 7.87200000001107)","(1.0, 55.0, 21.00000000000051)"
37,UGC10268,"(16.0, 13.0, 1.4640000000068198)","(2.0, 10.0, 24.239999999999995)"
38,UGC12349,"(23.0, 5.0, 15.096000000021093)","(2.0, 32.0, 12.479999999999905)"
39,UGC382,"(0.0, 38.0, 16.248000000000502)","(2.0, 43.0, 29.2800000000004)"
42,UGC10184,"(16.0, 5.0, 36.60000000000849)","(3.0, 2.0, 55.320000000000675)"
46,UGC9863,"(15.0, 29.0, 24.384000000009678)","(3.0, 35.0, 43.44000000000065)"